@import url(../../App/Variabless.scss);
$paddingCenter: 30px calc(50vw - 720px);


.products {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: $paddingCenter;
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 30px;
        align-items: center;

        &__title {
            font-weight: 600;
            font-size: 40px;
        }
        &__text {
            width: 30%;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 25px;
    }
}